/*----------------------------------------------------------------
Dataview
----------------------------------------------------------------*/
/* dataview font & cell size */
table.table-view-table>thead>tr>th {
    text-align: center;
    font-size: 1.2em;
    /*the lower part of height of line*/
    padding-top: 15px;
    /*the upper part of height of line*/
    padding-bottom: 15px;
}

table.table-view-table>tbody>tr>td {
    text-align: center;
    width: 20%;
    font-size: 1em;
    line-height: 1.5;
    /*the lower part of height of line*/
    padding-top: 15px;
    /*the upper part of height of line*/
    padding-bottom: 15px;
}

/* fixed window */
/* .block-language-dataview  {
    display: block;
    max-height: 600px;
    overflow: auto;
}

.block-language-dataviewjs   {
    display: block;
    max-height: 600px;
    overflow: auto;
} */

/* table column width */
body:not(.no-wrapped-dvtable) :is(.markdown-preview-view, .markdown-rendered) .table-view-table>tbody>tr>td,
body:not(.no-wrapped-dvtable) .markdown-source-view.mod-cm6 .table-view-table>tbody>tr>td {
    max-width: auto;
    min-width: 7em;
}

/* hide file count in dataview tables */
.table-view-table tr:first-of-type th:first-of-type>span.small-text {
    visibility: hidden;
}

/* dataview border */
/* .dataview.table-view-table :is(th, td) {
    border: 1px solid;
    border-color: var(--table-border-color);
}  */

.dataview.table-view-table th {
    border: none;
    border-bottom: 2px solid;  
    border-color: var(--table-border-color);
}
