/*----------------------------------------------------------------
Link Cancel Underline
----------------------------------------------------------------*/
a,
:is(.markdown-preview-view,.markdown-rendered) .internal-link {
  text-decoration: none;
  font-family: var(--font-family-strong) !important;
}

/* a:hover,
:is(.markdown-preview-view,.markdown-rendered) .internal-link:hover {
  text-decoration: underline;
} */
