/*----------------------------------------------------------------
Mermaid
----------------------------------------------------------------*/
/* rect.note, */
.statediagram-note rect {
  fill: rgba(255, 199, 119, 0.3) !important;
  stroke: rgba(255, 199, 119, 0.75) !important;
}

/* .classGroup rect{
  fill: #2f334d !important;
  stroke: #444a73 !important;
} */

div.mermaid {
    text-align: center;
    zoom: 100%;
}

.mermaid svg {
    min-height:120px;
    width: auto;
}
