/*----------------------------------------------------------------
Table
----------------------------------------------------------------*/
/* set table color */
body.all-dark .print.theme-light,
.theme-dark {
    --table-background-color: #282828;
    --table-background-color-even: #232323;
    --table-border-color: #4a4a4a;
    --table-thead-background-color: #1e1e1e;
    --table-hover-raw-color: #08569a21;
    --table-hover-color: #1f65a221;
    --table-hover-thead-color: #1e1e1e;
    --table-text-color: #ffffff;
    --table-text-shadow: #8B6CEF;
}

.theme-light {
    --table-background-color: #e3eaf1;
    --table-background-color-even: #f6f3ff;
    --table-border-color: #c1acff7f;
    --table-thead-background-color: #c1acff;
    --table-hover-raw-color: #85bfee2f;
    --table-hover-color: #5dacec34;
    --table-hover-thead-color: #c1acff;
    --table-text-color: #000000;
    --table-text-shadow: #8B6CEF;
}

/* apply table color */
/* rows highlight */
:is(.row-highlight, .markdown-preview-view) table {
    background-color: var(--table-background-color);
	color: var(--table-text-color);
}

:is(.row-highlight, .markdown-preview-view) thead {
	background-color: var(--table-thead-background-color);
}

:is(.row-highlight, .markdown-preview-view) tr:nth-child(even) {
    background-color: var(--table-background-color-even);
}

/* :is(.row-highlight, .markdown-preview-view) td {
    background-color: var(--table-background-color-even);
} */

:is(.row-highlight, .markdown-preview-view) td strong {
	color: var(--table-text-color);
}

:is(.row-highlight, .markdown-preview-view) thead tr:hover {
    background-color: var(--table-hover-thead-color);
}

:is(.row-highlight, .markdown-preview-view) thead th:hover {
    color: var(--table-text-shadow);
}

:is(.row-highlight, .markdown-preview-view) tbody tr:hover td {
	background-color: var(--table-hover-color);
}

:is(.row-highlight, .markdown-preview-view) tbody tr:hover td:hover{
	color: var(--table-text-shadow);
}

/* no highlight */
:is(.no-highlight) table {
	background-color: var(--table-background-color);
	color: var(--table-text-color);
}

:is(.no-highlight) thead {
	background-color: var(--table-thead-background-color);
}

:is(.no-highlight) tr:nth-child(even) {
    background-color: var(--table-background-color);
}

/* :is(.no-highlight) td {
    background-color: var(--table-background-color-even);
} */

:is(.no-highlight) td strong {
	color: var(--table-text-color);
}


:is(.no-highlight) thead tr:hover{
    background-color: var(--table-hover-thead-color);
    color: var(--table-text-shadow);
}

:is(.no-highlight) thead th:hover {
    color: var(--table-text-shadow);
}

:is(.no-highlight) tbody tr:hover td{
	background-color: var(--table-hover-color);
}

:is(.no-highlight) tbody tr:hover td:hover{
	color: var(--table-text-shadow);
}

/* apply table attribute */
.markdown-preview-view table {
	border-collapse: collapse;
	border-radius: 5px;
	font-size: 1em;
	overflow: hidden;
	width: auto;
	/* max-width: 100%; */
}

.markdown-preview-view th {
    letter-spacing: 1px;
}

.markdown-preview-view table > thead > tr > th {
    border: 2px solid var(--table-border-color);
}

.markdown-preview-view td,
.markdown-preview-view th {
	border: 2px solid var(--table-border-color);
	padding: 11px;
}

/*table hover*/
/* :is(.markdown-preview-view,.markdown-rendered) td:hover,
.markdown-source-view td:hover {
  background-color: var(--table-hover-color);
  transform: scale(1.02);
  transition: transform 0.1s cubic-bezier(0.22, 0.66, 0.46, 0.66);
}

:is(.markdown-preview-view,.markdown-rendered) table tbody>tr:hover,
.markdown-source-view table tbody>tr:hover {
  background-color: var(--table-hover-raw-color);
  transform: scale(1.02);
  transition: transform 0.1s cubic-bezier(0.22, 0.66, 0.46, 0.66);
}

:is(.markdown-preview-view,.markdown-rendered) th:hover,
.markdown-source-view th:hover {
  background-color: var(--table-hover-thead-color);
  transform: scale(1.02);
  transition: transform 0.1s cubic-bezier(0.22, 0.66, 0.46, 0.66);
} */